[submodule "lib/lcdgfx"]
	path = lib/lcdgfx
	url = https://github.com/lexus2k/lcdgfx.git
[submodule "lib/Adafruit-GFX-Library"]
	path = lib/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
